.main-page {
	.main-content {
		padding-top:64px;
		overflow: hidden;
	}

	.left-box {
		width:calc(~"100% - 474px");
		float: left;
		margin-left: 224px;
	}

	.right-menu{
		width:230px;
		float: right;
		padding:20px;
		padding-left: 0;
	}
}