.main-page {
	.main-content {
		padding-top:64px;
		overflow: hidden;
	}

	.left-box {
		width:calc(~"100% - 474px");
		float: left;
		margin-left: 224px;
	}
	.left-menu .iconfont {
		margin-right: 40px;
		margin-left: 5px;
		font-size: 18px;
	}
	.right-menu{
		width:230px;
		float: right;
		padding:20px;
		padding-left: 0;
	}
}

.footer {
	height: 130px;
	padding-top: 20px;
	background-color: #222222;
	position: absolute;
	bottom: 0;
	left: 0 ;
	width: 100%;	
	p {

		color:#B9B9B9;
		margin-bottom: 0;
		margin-top: 0;
		line-height: 40px;
		padding-left: 244px;
		a {
			color:#B9B9B9;
			font-size:14px;
			text-decoration: none;
			display: inline-block;
		}
	}
}
.home-footer {
	p {
		width:1020px;
		margin:0 auto;
		padding-left:20px;
		box-sizing: border-box;
	}
}
.time {
	margin-right:14px !important;
	color:#fff;

}