
h3 {
	text-align:center;
	margin-top: 80px;
	font-size: 22px;
	color:#565858;
}
.space-login {
	margin-left: 224px;
}
.login-box {
	margin:60px auto;
	width:220px;
}

.error-text {
	color:rgb(244, 67, 54);
	text-align: center;
	display: none;
	&.active {
		display: block;
	}
}

.space-container {
	margin-left: 224px;
	padding-top: 76px;
}
.contents-header {
	padding:20px;
	position: fixed;
	left:224px;
	top:64px;
	width: calc(~"100% - 224px");
	.add-blog {
		float: left;
	}
	.hide {
		display: none;
	}
	.switch-contents {
		float:left;
	}
	.btn {
		margin-right: 20px;
	}
	.log-out {
		float: right;
	}
}
.contents-table {
	padding:0 20px;
}

.space-edit-container {
	margin-left: 224px;
	padding:0 20px;
	.article-set {
		overflow: hidden;
		.post-btn {
			float: right;
			margin-top: 30px;
		}
	}
	.article-markdown {
		&:after {
			content:'';
			display: block;
			clear: both;
		}
		margin-top: 20px;
		.edit-area,.preview-area {
			width:49.5%;
			float: left;
			height: 700px;
			box-sizing: border-box;
			padding:10px;
			overflow-y: scroll;
		}
		.edit-area {

			background:#F0F0F0 !important;
			textarea {
				width:calc(~"100% - 10px");
				height:calc(~"100% - 10px");
				outline: 0 none;
				resize:none;
				border:none;
				line-height: 20px;
				background:#F0F0F0;
			}
		}
		.preview-area {
			margin-left: 1%;
			p {
				margin:0;
			}
			h2 {
				margin:0;
			}
		}
	}
}
@media screen and (max-width: 760px) {
	.space-login {
		margin-left: 0;
	}
	.contents-header {
		left:0;
		width: 100%
	}
	.space-container {
		margin-left:0;
	}
}