
h1.website-title {
	margin:100px auto 0;
	text-align: center;
	color:#545557;
}
.entry-wrap {
	margin:20px auto 0;
	width:1020px;
	overflow: hidden;
	padding: 40px 0 0;
	.entry-paper-header {
		line-height: 40px;
		height:40px;
		background:#F0EFF6;
		text-align: center;
	}
	.entry-paper-body {
		text-align: center;
		vertical-align: middle;
		background: #dbdfe8;
		height:300px;
		width:300px;
		display: table-cell;
	}
}
